# Firebase Public Config
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=

# Firebase Admin SDK
FIREBASE_PRIVATE_KEY=""
FIREBASE_CLIENT_EMAIL=
FIREBASE_PROJECT_ID=

# Printful OAuth
PRINTFUL_CLIENT_ID=
PRINTFUL_CLIENT_SECRET=
PRINTFUL_REDIRECT_URL=

# Optional: for direct API use
PRINTFUL_API_KEY=
