# .env.example (safe for version control)

NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=""

# Add other required env vars here
FIREBASE_CLIENT_EMAIL=
FIREBASE_DATABASE_URL=
NEXT_PUBLIC_PRINTFUL_CLIENT_ID=
NEXT_PUBLIC_PRINTFUL_CLIENT_SECRET=
